<div class="container pt-5">
    <div class="pt-5"></div>
    <form action="/article" method="POST">
        <div class="mb-3">
            <label for="judul" class="form-label">Judul</label>
            <input type="text" name="judul" class="form-control" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="kalimat" class="form-label">Kalimat</label>
            <textarea class="form-control" name="kalimat" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input type="text" name="link" class="form-control" placeholder="name@example.com">
        </div>
        <input type="submit" name="submit" class="btn btn-primary mb-3" value="confirm">
    </form>
</div>